extends layout

block content
  section.section.alt-bg
    .container
      .text-center
        h2 Message Sent!
        p Thank you for reaching out. We'll get back to you as soon as possible.
        br
        a.btn(href="/") Back to Home
