extends layout

block content
    section.section.alt-bg
        .container
            .text-center
                h2 Payment Cancelled
                p No charges were made. You can try again whenever you're ready.
                br
                a.btn(href="/donate") Try Again
