extends layout

block content
    section.section.alt-bg
        .container
            .text-center
                h2 Thank You for Your Donation!
                p Your payment has been received. You will receive a confirmation email shortly.
                p We appreciate your generous support of the Yellowstone Sea Hawkers community!
                br
                a.btn(href="/") Back to Home
