extends layout

block content
  section.section.alt-bg
    .container
      .text-center
        h2 Payment Cancelled
        p Your payment was not completed. No charges have been made.
        p If you'd like to try again, you can restart the signup process.
        br
        a.btn(href="/membership") Try Again
        | &nbsp;
        a.btn-outline(href="/") Back to Home
