extends layout

block content
  section.section.alt-bg
    .container
      .text-center
        h2 Welcome to the Yellowstone Sea Hawkers!
        p Your payment has been received. You will receive a welcome email with your membership card shortly.
        p Thank you for joining our community of passionate Seahawks fans!
        br
        a.btn(href="/") Back to Home
